In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn import metrics
import numpy as np

In [2]:
df = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df_aux = df[['NU_NOTA_REDACAO', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC','NU_NOTA_MT']]
df_test_aux = df_test[['NU_NOTA_REDACAO', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC']]

In [3]:
df_aux = df_aux.fillna(0)
df_answer = df_test_aux.fillna(0)

In [4]:
x_features = ['NU_NOTA_REDACAO', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC']
X = df_aux[x_features]
Y = df_aux['NU_NOTA_MT']

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [6]:
modelRandomForest = RandomForestRegressor()
modelRandomForest.fit(X_train,y_train)
y_pred = modelRandomForest.predict(X_test)

In [7]:
print(y_pred)

[  0.    616.537 502.693 ... 480.639   0.    461.532]

In [8]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 45.8761365622724
Mean Squared Error: 4468.741269719956
Root Mean Squared Error: 66.8486444867804

In [9]:
accuracy = modelRandomForest.score(X_test,y_test)
print(accuracy*100,'%')

91.47809633489514 %

In [10]:
#predicting for the dataset sent

y_pred_answer = modelRandomForest.predict(df_answer)

In [11]:
y_pred_answer

array([422.803, 423.956, 597.746, ..., 676.381, 458.996,   0.   ])

In [12]:
result = pd.DataFrame()
result['NU_INSCRICAO'] = df_test.NU_INSCRICAO
result['NU_NOTA_MT'] = y_pred_answer.round(1)

In [14]:
result.sample(10)

                                  NU_INSCRICAO  NU_NOTA_MT
2014  54c7718ad7db29bcb6b9e4794f4c75ecf03f077a       467.7
3852  2c4216eeeab41b8b2359c0093d08fec4c095c0e3       427.8
574   2500339c0390a5cf28e1e8df0477e13fd4cdd674       407.6
4428  1107455485b73bcbb91cd1813cbae9e47add8e77       439.0
4485  eee27c1ffbcaa9007439579c0130a4441947c1fe         0.0
717   b384d4fd5e6f6ea82e01831539d16a9fa8f91cb5       492.9
1100  2dd2c7b4d6c1a00daa2ec9d46085f48d3597d8e2         0.0
4568  c3fa7f85609c5ab50f3f5959950b12b0eb77f7b6       434.8
1929  315142df8a45d85b5fcf0f8d54acb0f426f29660       429.2
477   446a666ce7e015158181ce032e318a2ceffad8e1       462.7

In [15]:
result.to_csv('answer.csv', index=False, header=True)